@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.trial {
  /* background-image: linear-gradient(to right, #72e297 0%, #70e9d3 100%); */
  /* background-image: linear-gradient(to right, #7BC393 0%, #31B7C2 100%); */
  /* background-image: linear-gradient(to bottom right, #72FFB6, #10D164); */
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.activeNav{
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  color: black;
}
.pendingNav{
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  color: white;
}

/* .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  } */